_ReSharper.*/
bin
obj
Backup
*.user
*.suo
*.Cache
publish
*.deploy
Debug
Release
UpgradeLog.*
_UpgradeReport_Files/
artifacts/
_UpgradeReport*
*.dbmdl
*.ncrunchproject
*.ncrunchsolution
/.vs/
/site/.vs/
project.lock.json
logs
web.config
T2R.Api/demoImages
/src/SportTest/database.db
/Installers/WindowsInstaller
/desktop/.vs
database.db
appsettings.*.machine.*.json